<form class="contact-form" (submit)="sendEmail($event)">
    <label>Name</label>
    <input type="text" class="form-control" name="user_name">
    <br>
    <label>Email</label>
    <input type="email" class="form-control" name="email">
    <br>
    <label>Message</label>
    <textarea class="form-control" name="message"></textarea>
    <br>
    <label>Password</label>
    <input type="password" class="form-control" name="password">
    <br>
    <label>Files</label>
    <input type="text" class="form-control" name="files">
    <input class="btn btn-primary mt-3" type="submit" value="Send">
</form>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
<script type="text/javascript">
    (function () {
        emailjs.init("Ye6Wv42wPH1xZNKwp");
    })();
</script>
