<section class="w-25">
    <form [formGroup]="loginform" (ngSubmit)="submit()">
        <div class="form-group">
            <label>Email :</label>
            <input type="email" name="email" formControlName="email" class="form-control">
        </div>
        <div class="form-group">
            <label>password :</label>
            <input type="password" name="password" formControlName="password" class="form-control">
        </div>
        <div class="form-group">
            <button class="btn btn-primary mt-3"><span *ngIf="loading"></span>submit</button>
            
        </div>
    </form>
</section>

<h3 class="text-center">Interceptore crud</h3>
<section class="container">
    <table class="table table-borderless mt-3">
        <thead>
            <tr>
                <th style="width: 10%; padding-left: 20px;">Id</th>
                <th style="width: 10%;">Email</th>
                <th style="width: 10%;">Full Name</th>
                <th style="width: 10%;">Mobile Number</th>
                <th style="width: 10%;">Role Id</th>
                <th style="width: 10%;">Role Type</th>
                <th style="width: 20%;">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of userData">
                <td style="padding-left: 20px;">{{ item.id }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.fullName }}</td>
                <td>{{ item.mobileNumber }}</td>
                <td>{{ item.role.id }}</td>
                <td>{{ item.role.name }}</td>
                <td>
                    <button class="btn btn-success" >Edit</button>
                    <button class="btn btn-danger" >Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</section>

<!-- https://stackblitz.com/edit/angular-11-crud-example?file=src%2Fapp%2Fusers%2Fadd-edit.component.html -->