<!-- <h3 class="text-center">Interceptore crud</h3>
<section class="container">
    <table class="table table-borderless mt-3">
        <thead>
            <tr>
                <th style="width: 10%; padding-left: 20px;">Id</th>
                <th style="width: 20%;">Email</th>
                <th style="width: 10%;">Full Name</th>
                <th style="width: 20%;">Mobile Number</th>
                <th style="width: 10%;">Role Id</th>
                <th style="width: 10%;">Role Type</th>
                <th style="width: 10%;">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of userData">
                <td style="padding-left: 20px;">{{ item.id }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.fullName }}</td>
                <td>{{ item.mobileNumber }}</td>
                <td>{{ item.role.id }}</td>
                <td>{{ item.role.name }}</td>
            </tr>
        </tbody>
    </table>
</section> -->